:root {
  --primary-color: #3f51b5;
  --secondary-color: #ff4081;
  --accent-color: #536dfe;
  --more-color: #1dca88;
  --background-color: #ffffff;
  --text-color: #000000;
  --footer-bg-color: #121212;
  --footer-color: #ffffff;
  --area-color: #272b35;
  --code-color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1d2129;
    --text-color: #ffffff;
    --code-color: #272b35;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

header {
  color: var(--footer-color);
  background-color: var(--primary-color);
  padding: 30px;
  height: 80px;
}

header div,
header h1 {
  display: inline;
}

header svg,
header img {
  height: 48px;
  margin-right: 10px;
}

footer {
  color: var(--footer-color);
  background-color: var(--footer-bg-color);
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex-grow: 1;
}

main section {
  margin: 10px auto;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--accent-color);
}

hr {
  border: none;
  border-top: 3px double var(--code-color);
  color: var(--code-color);
  overflow: visible;
  text-align: center;
  height: 5px;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0 5px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  width: auto;
  text-align: left;
  margin: 0 5px;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 3px;
  transition: background-color 0.3s, border-color 0.3s;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

input[type="text"] {
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  padding: 8px;
  transition: border-color 0.3s;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  margin-right: 10px;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

fieldset {
  border: 1px solid var(--code-color);
  border-radius: 5px;
  padding: 10px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid var(--code-color);
  padding: 8px;
  text-align: left;
}

table th {
  font-weight: 700;
  position: sticky;
  top: 0;
  z-index: 1;
}

th,
tr:hover,
input[type="text"]:hover {
  background-color: var(--code-color);
}

.upload-btn {
  background-color: var(--more-color);
  color: white;
}

.search-btn {
  background-color: var(--accent-color);
  color: white;
}

.reset-btn {
  background-color: var(--secondary-color);
  color: white;
}

#note-area {
  margin: auto 15%;
}

#upload-area {
  border: 2px solid var(--more-color);
  width: 80%;
  margin-bottom: 15px;
  padding: 15px 0;
  text-align: center;
}

#drop-area {
  width: 70%;
  height: 200px;
  border: 5px dashed var(--code-color);
  border-radius: 15px;
  text-align: center;
  line-height: 200px;
  margin: 10px auto;
  font-size: larger;
  color: var(--footer-bg-color);
}

#search-area {
  border: 2px solid var(--primary-color);
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-align: center;
}

.search-condition {
  margin-bottom: 10px;
}

.search-condition div {
  display: inline-flex;
  align-items: center;
}

.search-condition label {
  width: 200px;
  /* overflow-wrap: break-word; */
  text-align: right;
  margin-right: 10px;
}

#bookmark-area {
  margin: 50px auto;
  width: 95%;
  font-size: smaller;
}

#bookmark-area div {
  margin: 10px auto;
  max-height: 500px;
  max-width: 95%;
  overflow: auto;
}

#bookmark-area p {
  margin: 0 10%;
}

#bookmark-area th.asc::after {
  content: "\2191";
  font-size: larger;
  margin: 0 5px;
}

#bookmark-area th.desc::after {
  content: "\2193";
  font-size: larger;
  margin: 0 5px;
}
